Flask
torch==2.1.2
torchvision==0.16.2
numpy
Pillow
opencv-python
tqdm
scikit-image
matplotlib
yapf
pyyaml
addict
imageio
requests
basicsr
facexlib
gfpgan
realesrgan
python-telegram-bot==20.6
python-dotenv
